<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-mat="space-around center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">

  <div fxFlex="40">
    <div *ngIf="dish">
	 	<mat-card>
	 		<mat-card-header>
	 			<mat-card-title>
	 				<h3 *ngIf="dish">{{ dish.name | uppercase }}</h3>
	 			</mat-card-title>
	 		</mat-card-header>
	 			<img mat-card-image src="{{dish.image}}" alt="dish.name">
	 		<mat-card-content>
	 			<p>Category:  {{ dish.category | uppercase }}</p>
	 			<p>Label:  {{ dish.label | uppercase }}</p>
	 			<p>Price:  {{ dish.price | uppercase }}</p>
	 			<p>{{ dish.description }}</p>
	 		</mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>  
        <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
      </mat-card-actions>
	 	</mat-card>
	 </div>
  </div>


  <div fxFlex="40">
  	<mat-list *ngIf="dish">
  		<h3>Comments of {{ dish.name | uppercase }}</h3>
	 	<mat-list-item *ngFor="let comment of dish.comments">
	 		<p mat-line>Rating:  {{ comment.rating }}</p>
			<p mat-line>Comment:  {{ comment.comment }}</p>
 			<p mat-line>Author:  {{ comment.author }}</p>
 			<p mat-line>Date:  {{ comment.date | date }}</p>
	 	</mat-list-item>
	 </mat-list>
  </div>
</div>
<div [hidden]="dish">
  <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
</div>
