<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-mat="space-around center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility"  [@expand]>

	 	<mat-card>
	 		<mat-card-header>
	 			<mat-card-title>
	 				<h3 *ngIf="dish">{{ dish.name | uppercase }}</h3>
	 			</mat-card-title>
	 		</mat-card-header>
	 			<img mat-card-image src="{{BaseURL+dish.image}}" alt="dish.name">
	 		<mat-card-content>
	 			<p>Category:  {{ dish.category | uppercase }}</p>
	 			<p>Label:  {{ dish.label | uppercase }}</p>
	 			<p>Price:  {{ dish.price | uppercase }}</p>
	 			<p>{{ dish.description }}</p>
	 		</mat-card-content>
      <mat-card-actions>
        <span class="fa fa-chevron-left fa-lg"></span>
        <button mat-button [routerLink]="['/dishdetail',prev]">PREV</button>
        <button mat-button (click)="goBack()">BACK</button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishdetail',next]">NEXT</button>
        <span class="fa fa-chevron-right fa-lg"></span>
      </mat-card-actions>
	 	</mat-card>

  </div>


  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
  	<mat-list>
  		<h3>Comments of {{ dish.name | uppercase }}</h3>
	 	<mat-list-item *ngFor="let comment of dish.comments">
	 		<p mat-line><span class="fa fa-star fa-lg"></span> {{ comment.rating }}</p>
			<p mat-line>Comment:  {{ comment.comment }}</p>
 			<p mat-line>Author:  {{ comment.author }}</p>
 			<p mat-line>Date:  {{ comment.date | date }}</p>
	 	</mat-list-item>
    <!-- new comment -->
    <mat-list-item>
        <p mat-line>{{commentForm.value.comment}}</p>
        <h3 mat-line>&nbsp;{{commentForm.value.rating}} stars</h3>
        <p mat-line>
          <span>--<b>{{commentForm.value.author}}&nbsp;&nbsp;</b></span>
          <span></span>
        </p>
    </mat-list-item>
	 </mat-list>
   <mat-list>
      <div fxFlex>
      <!-- comment form here -->
        <mat-list-item>
          <form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()" class="comment-form">
            <p>
              <mat-form-field mat-line class="half-width"
              dividerColor="{{ formErrors.author ? 'warn' : 'primary'}}" >
              <input matInput formControlName="author" placeholder="Name" type="text" required>
              <mat-hint>
                <span [hidden]="!(formErrors.author)">{{formErrors.author}}</span>
              </mat-hint>
              </mat-form-field>
              <mat-slider formControlName="rating" min="1" max="5" step="1" tickInterval="1" value="5"></mat-slider>
            </p>
            <p>
              <mat-form-field class="full-width"
              dividerColor="{{ formErrors.comment ? 'warn' : 'primary'}}" >
              <textarea matInput formControlName="comment" placeholder="Your comment" rows=3 required></textarea>
              <mat-hint>
                <span [hidden]="!(formErrors.comment)">{{formErrors.comment}}</span>
              </mat-hint>
              </mat-form-field>
            </p>
            <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">Submit</button>
          </form>
          </mat-list-item>
      </div>
    </mat-list>
  </div>
</div>
<div [hidden]="dish || dishErrMess">
  <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
</div>
<div *ngIf="dishErrMess">
  <h2>Error</h2>
  <h4>{{dishErrMess}}</h4>
</div>
